/* common */
/* element */
body {
    font-family: sans-serif;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    object-fit: cover;
}

label {
    display: block;
    font-size: 15px;
    margin-left: 5px;
    text-align: left;
}

table {
    margin: 0 auto;
}

th {
    font-weight: normal;
    text-align: right;
}

td > p {
    margin: 0;
}

a {
    border-radius: 4px;
    color: rgb(0, 0, 0);;
    display: block;
    text-decoration: none;
}

a:hover {
    background-color: rgb(235, 235, 235);
}

/* button */
.button-large {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	transition: .3s ease;
}

.button-large li {
	border: 2px solid rgba(130, 130, 130, 0.5);
	border-radius: 10px;
	box-shadow: 0px 1px 2px 0px rgba(130, 130, 130, 0.3);
	margin: 10px 15px;
}

.button-large li a {
	border-radius: 6px;
}

/* form element */
.required:after {
    background-color: #C44;
    border-radius: 4px;
    color: white;
    content: "必須";
    font-size: 0.6em;
    margin-left: 1.0em;
    padding: 2px 6px 2px 6px;
    vertical-align: 0.25em;
}

.warning {
    color: gray;
    font-size: 10px;
    margin: 0;
    margin-left: 5px;
    text-align: left;
}

.error-message {
    color: red;
    font-size: 12px;
    text-align: left;
}

/* others */
.ml15 {
    margin-left: 15px;
}

.ml30 {
    margin-left: 30px;
}

.mt15 {
    margin-top: 15px;
}

.buttons {
    margin: 15px auto;
    width: 65px;
}

.noting-data {
    line-height: 60px;
    margin: 0 auto;
    max-width: 330px;
}

.noting-data p {
    color: gray;
    font-weight: bold;
    text-align: center;
}


/* home page */
.states {
    margin: 70px auto 0;
    width: 90%;
}

.states .button-large li {
	line-height: 110px;
	width: calc(100% / 3 - 34px);
}


/* mypage */
.mypage img {
    height: 100px;
    width: 100px;
}


/* ranking */
.ranking_tables {
    margin: 0 auto;
    width: 90%;
}

.table_split {
    display: flex;
}

.ranking {
    margin: 0 auto 20px;
    width: 50%;
    min-width: 320px;
}


/* currency edit page */
.currencies_edit {
    margin: 20px auto;
    width: 360px;
}

.currencies_edit ul {
    padding: 0;
}

.currencies_edit li {
    padding-bottom: 0;
    padding-top: 0;
}

.currencies_edit p {
    color: red;
    text-align: center;
}


/* state page */
.countries {
    margin: 0 auto;
    width: 80%;
}

.countries .button-large li {
	line-height: 40px;
	margin-left: auto;
	margin-right: auto;
	width: calc(50% - 34px);
}

.collected {
	background-color: rgba(248, 155, 48, 0.7);
}

.collected a {
	background-color: rgba(248, 155, 48, 0.7);
	color: white;
	font-weight: bold;
}

.collected a:hover {
	background-color: rgba(248, 155, 48, 0.3);
}


/* country create page */
.create_country {
    margin: 0 auto;
    width: 290px;
}

.create_country div {
    margin-bottom: 8px;
}


/* country information page */
.images-list {
    margin: 10px auto;
    width: 90%;
}

.image-split {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
}

.image-split:after, .image-split:before {
    content: "";
    width: 25%;
}

.image-split:before {
    order: 1;
}

.image-split div {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

.images-list p {
    font-size: 17px;
    text-align: center;
}

/* heritage create page */
.create_heritage {
    margin: 0 auto;
    width: 290px;
}

.create_heritage div {
    margin-bottom: 8px;
}

.photo {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

#preview {
    display: flex;
    flex-wrap: wrap;
}

#preview img {
    margin: 3px;
    width: calc(145px - 6px);
    height: calc(145px - 6px);
}


/* heritage informaiton */
.heritage_information {
    margin-top: 30px;
}

.split {
    display: flex;
}

.images {
    width: 60%;
}

.heritage-info {
    width: 40%;
    margin: 0;
}


/* heritage edit page */
.overflow {
    overflow: hidden;
}


@media (max-width: 890px) {
    .image-square {
        height: 150px;
        width: 150px;
    }
    
    .heritage-info {
        margin: 0 auto;
        width: 90%;
    }
    
    .split {
        display: block;
    }
    
    .image-split div {
        width: 50%;
    }
    
    .images {
        margin: 0 auto;
        min-width: 375px;
        width: 100%;
    }
}

@media (max-width: 675px) {
    .table_split {
        display: block;
    }
    
    .images-list li {
	    width: 50%;
    }

    .image-square {
        height: 200px;
        width: 200px;
    }
}


@media (max-width: 414px) {
    .states .button-large li {
	    line-height: 50px;
	    width: calc(100% - 34px);
    }
    
    .countries .button-large li {
	    width: 100%;
    }
}